.home-container{
    display: flex;
    width: 100%;
    height: 100vh;
}

.feed-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow-y: auto;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.rightBar {
  width: 33vw;
  min-width: 300px;
  height: 100vh;
  overflow-y: auto;
    padding: 10px 40px;
    
}