.home-container{
    display: flex;
    width: 100%;
    height: 100vh;
}

.feed-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow-y: auto;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.rightBar {
  width: 33vw;
  min-width: 300px;
  height: 100vh;
  overflow-y: auto;
    padding: 10px 40px;
    
}

.add-post{
  display: flex;
  /* background-color: green; */
  padding:  20px 20px 0 20px;
  border-bottom: 1px solid #2f3336;
  gap: 5px;
}

.tweet{
  width: 100%;

}


.post-options{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
   padding: 15px 10px ;
  border-top: 1px solid #2f3336;

}

.post-options .image-icon{
  font-size: 1.5rem;
  color: #1da1f2;
  cursor: pointer;
}

.post-options button{
  padding: 10px 20px;
    font-weight: bolder;
    border-radius: 30px;
    cursor: pointer;
}