.navbar {
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #2f3336;
}

.nav-items {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-items:hover {
  background-color: #2f3336;
}

.nav-text {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

span {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.active-line {
  /* margin-top: 6px; */
  width: 100%;
  height: 3px;
  background-color: aqua;
  border-radius: 10px;
  position: absolute;
  bottom: -15px;
}
