.RightBar-container {
  height: 100%;
  width: 80%;
}

.card-container {
  margin-top: 30px;
  color: white;
  border: 1px solid #2f3336;
  width: 100%;
  border-radius: 10px;
  padding: 12px 15px;
}

.search {
  display: flex;
  width: 100%;
  border-radius: 30px;
  gap: 5px;
  padding: 15px 10px;
  color: white;
  border: 1px solid #2f3336;
}

.search input {
  border: none;
  background: none;
  outline: none;
  color: white;
}

.profiles-container {
  margin-top: 10px;
}
